extends _layout/layout

block variables
	- var title = 'CP product'
	- var bodyclass = 'userpage'

block css

block body 
	include _layout/header
	main
		//- include _layout/breadcrumb
		include _layout/ct-muasi
	include _layout/footer