.container
	.flex.flex-wrap.clearfix
		nav.sidebarmenu.clearfix
			.title <i class="fa fa-bars" aria-hidden="true"></i> Danh mục sản phẩm
			ul.sidebarlink 
				li
					a(href="#") 
						.icon(style="background-image: url(img/icon/i1.png)")
						.text Thực phẩm
				li
					a(href="#") 
						.icon(style="background-image: url(img/icon/i2.png)")
						.text Nhà cửa & đời sống
				li
					a(href="#") 
						.icon(style="background-image: url(img/icon/i3.png)")
						.text Sức khỏe & Sắc đẹp
				li
					a(href="#") 
						.icon(style="background-image: url(img/icon/i4.png)")
						.text Mẹ & bé
				li
					a(href="#") 
						.icon(style="background-image: url(img/icon/i5.png)")
						.text Thời trang
				li
					a(href="#") 
						.icon(style="background-image: url(img/icon/i6.png)")
						.text Sách & Văn phòng phẩm
				li
					a(href="#") 
						.icon(style="background-image: url(img/icon/i7.png)")
						.text Điện gia dụng
				//- li
					a(href="#") 
						.icon(style="background-image: url(img/icon/i8.png)")
						.text Gạo - Ngũ cốc - Bột
				//- li
					a(href="#") 
						.icon(style="background-image: url(img/icon/i9.png)")
						.text Thực phẩm bổ dưỡng
				//- li
					a(href="#") 
						.icon(style="background-image: url(img/icon/i10.png)")
						.text Bánh kẹo, Đồ ăn vặt, Giải khát
		section.bannerwrap.clearfix
			.banner
				.item
					a.bannerimg(href="#" style="background: url(img/banner/1.jpeg) center center no-repeat; background-size: cover")
				.item
					a.bannerimg(href="#" style="background: url(img/banner/2.jpeg) center center no-repeat; background-size: cover")
				.item
					a.bannerimg(href="#" style="background: url(img/banner/3.jpeg) center center no-repeat; background-size: cover")
				.item
					a.bannerimg(href="#" style="background: url(img/banner/4.jpeg) center center no-repeat; background-size: cover")
				.item
					a.bannerimg(href="#" style="background: url(img/banner/5.jpeg) center center no-repeat; background-size: cover")
				//- .item
					a.bannerimg(href="#" style="background: url(img/banner/5.jpeg) center center no-repeat; background-size: cover")