section.cartheader.clearfix
	.container
		.sitelogo.clearfix
			a(href="index.html")
				img(src="img/logo.png", alt="")
		.hotline.clearfix
			<i class="fa fa-phone" aria-hidden="true"></i>
			.text Hotline hỗ trợ
				a(href="tel:0123456789") 0123 456 789
		//- .cartdes.clearfix 
			a(href="cart1.html") Đăng nhập 
			|để thanh toán tiện lợi hơn