section.cartstep.clearfix
	.container
		.step.finish
			.number <i class="fa fa-shopping-cart" aria-hidden="true"></i>
			.name Giỏ hàng
		.step.finish
			.number <i class="fa fa-user" aria-hidden="true"></i>
			.name Đăng nhập
		.step.finish
			.number <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
			.name Thông tin giao hàng
		.step.finish
			.number <i class="fa fa-credit-card" aria-hidden="true"></i>
			.name Hình thức thanh toán
.container
	section.cart-page.clearfix
		.row.flex.flex-wrap.align-items-center
			.col-xs-12.col-lg-5
				.thankyou.text-xs-center.clearfix
					img(src="img/cart/finish.png", alt="")
			.col-xs-12.col-lg-7
				.payment-success.clearfix
					h1 ĐƠN HÀNG CỦA BẠN ĐÃ ĐƯỢC HOÀN TẤT!
					p Mã đơn hàng của bạn là: 
						span.id 161220001
						br
						|Hiện tại đơn hàng của bạn đang được xử lý.
						br
						|Thông tin chi tiết đơn hàng sẽ được gửi đến hộp thư của bạn: test@gmail.com 
					p Mọi thắc mắc xin vui lòng liên hệ 
						|Hotline 
						a(href="tel:0123456789") 0123456789
						|hoặc email đến 
						a(href="info@cp.com.vn") info@cp.com.vn
					p Cảm ơn bạn đã đặt hàng. Đơn hàng của bạn sẽ được xử lý trong thời gian sớm nhất. Chúng tôi sẽ liên hệ lại với bạn để xác nhận yêu cầu và giao hàng.
				.btnwrap.clearfix
					a.btn-back(href="#") Tiếp tục mua hàng
					a.hvr-sweep-to-right.btn-continue(href="#") Quản lý đơn hàng