.container
	.flex.flex-wrap.clearfix
		section.filter-wrap.filter-category.sidebar.clearfix
			.filter-group.clearfix
				.filter-title Giới thiệu
				nav.sidebar-category.clearfix
					ul.sidebar-link
						li 
							a(href="#") Về Co.opmart
						li 
							a(href="#") Điều khoản sử dụng
						li 
							a(href="#") Chính sách bảo mật
						li 
							a(href="#") Tuyển dụng
						li 
							a(href="#") Liên hệ
						li 
							a(href="#") Video clips
						li 
							a(href="#") Sơ đồ site
			.filter-group.clearfix
				.filter-title Hỗ trợ khách hàng
				nav.sidebar-category.clearfix
					ul.sidebar-link
						li 
							a(href="#") Phương thức đặt hàng
						li 
							a(href="#") Hướng dẫn đặt hàng
						li 
							a(href="#") Phương thức giao hàng
						li 
							a(href="#") Phương thức thanh toán
						li 
							a(href="#") Chính sách đổi trả hàng
						li 
							a(href="#") Hướng dẫn đổi trả hàng
						li 
							a(href="#") Trung tâm khách hàng
						li 
							a(href="#") Hỏi đáp
				.btn-closefilter.btn-close <span class="lnr lnr-cross"></span> Đóng bộ lọc
		section.page-content.clearfix
			.btn-togglewrap
				.btn-showcate Danh mục
			h1.pagetitle Hỏi đáp
			//- .newfaq
				.module-title Gửi câu hỏi
				.form-group
					input(type="text", placeholder="Họ và tên")
				.form-group
					input(type="text", placeholder="Tiêu đề")
				.form-group
					textarea(name="", cols="30", rows="10", placeholder="Nội dung...")
				input(type="submit", value="Gửi câu hỏi")
			.faqlist
				.faq
					.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
					.faqcontent.content
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
				.faq
					.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
					.faqcontent.content
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
				.faq
					.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
					.faqcontent.content
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
				.faq
					.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
					.faqcontent.content
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
				.faq
					.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
					.faqcontent.content
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
				.faq
					.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
					.faqcontent.content
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
				.faq
					.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
					.faqcontent.content
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
				.faq
					.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
					.faqcontent.content
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
				.faq
					.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
					.faqcontent.content
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
				.faq
					.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
					.faqcontent.content
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.