.container
	.flex.flex-wrap.clearfix
		include filter
		section.product-page.clearfix
			.btn-togglewrap
				.btn-showcate Danh mục sản phẩm
				.btn-showfilter Lọc sản phẩm
			include bannerads
			.product-sort.clearfix
				h1.pagetitle Thịt heo
				.amount Tìm thấy 60 sản phẩm
				.sorttype
					select
						option(value="#") Sắp xếp theo
						option(value="#") Bán chạy nhất
						option(value="#") Hàng mới về
						option(value="#") Giá cao nhất
						option(value="#") Giá thấp nhất
			.product-list.flex.flex-wrap.clearfix
				.col-xs-6.col-sm-4.col-md-3.col-lg-4.col-xl-3.nopadding
					.product-col
						figure
							a.product-img(href="#")
								img(src="img/product/thitthan.jpg", alt="alt")
								//- .promotion
									.new
										span Mới
									.hot
										span hot
									.sale 
										span -15%
							figcaption
								h3.product-name
									a(href="#") Thịt thăn heo
								.product-des 500gr
								.product-price.clearfix
									.new 120.000đ
									.old 150.000đ
								.btn-wrap
									a.btn-addtocart(href="#") Thêm vào giỏ
				.col-xs-6.col-sm-4.col-md-3.col-lg-4.col-xl-3.nopadding
					.product-col
						figure
							a.product-img(href="#")
								img(src="img/product/cotlet.jpg", alt="alt")
								//- .promotion
									.new
										span Mới
									.hot
										span hot
									.sale 
										span -15%
							figcaption
								h3.product-name
									a(href="#") Thịt cốt lết
								.product-des 500gr
								.product-price.clearfix
									.new 120.000đ
									.old 150.000đ
								.btn-wrap
									a.btn-addtocart(href="#") Thêm vào giỏ
				.col-xs-6.col-sm-4.col-md-3.col-lg-4.col-xl-3.nopadding
					.product-col
						figure
							a.product-img(href="#")
								img(src="img/product/mongheo.jpg", alt="alt")
								.promotion
									//- .new
										span Mới
									//- .hot
										span hot
									.sale 
										span -15%
							figcaption
								h3.product-name
									a(href="#") Móng heo
								.product-des 500gr
								.product-price.clearfix
									.new 120.000đ
									.old 150.000đ
								.btn-wrap
									a.btn-addtocart(href="#") Thêm vào giỏ
				.col-xs-6.col-sm-4.col-md-3.col-lg-4.col-xl-3.nopadding
					.product-col
						figure
							a.product-img(href="#")
								img(src="img/product/suonnon.jpg", alt="alt")
								.promotion
									//- .new
										span Mới
									//- .hot
										span hot
									//- .sale 
										span -15%
							figcaption
								h3.product-name
									a(href="#") Sườn non
								.product-des 500gr
								.product-price.clearfix
									.new 120.000đ
									.old 150.000đ
								.btn-wrap
									a.btn-addtocart(href="#") Thêm vào giỏ
				.col-xs-6.col-sm-4.col-md-3.col-lg-4.col-xl-3.nopadding
					.product-col
						figure
							a.product-img(href="#")
								img(src="img/product/thitthan.jpg", alt="alt")
								//- .promotion
									.new
										span Mới
									.hot
										span hot
									.sale 
										span -15%
							figcaption
								h3.product-name
									a(href="#") Thịt thăn heo
								.product-des 500gr
								.product-price.clearfix
									.new 120.000đ
									.old 150.000đ
								.btn-wrap
									a.btn-addtocart(href="#") Thêm vào giỏ
				.col-xs-6.col-sm-4.col-md-3.col-lg-4.col-xl-3.nopadding
					.product-col
						figure
							a.product-img(href="#")
								img(src="img/product/cotlet.jpg", alt="alt")
								//- .promotion
									.new
										span Mới
									.hot
										span hot
									.sale 
										span -15%
							figcaption
								h3.product-name
									a(href="#") Thịt cốt lết
								.product-des 500gr
								.product-price.clearfix
									.new 120.000đ
									.old 150.000đ
								.btn-wrap
									a.btn-addtocart(href="#") Thêm vào giỏ
				.col-xs-6.col-sm-4.col-md-3.col-lg-4.col-xl-3.nopadding
					.product-col
						figure
							a.product-img(href="#")
								img(src="img/product/mongheo.jpg", alt="alt")
								.promotion
									//- .new
										span Mới
									//- .hot
										span hot
									.sale 
										span -15%
							figcaption
								h3.product-name
									a(href="#") Móng heo
								.product-des 500gr
								.product-price.clearfix
									.new 120.000đ
									.old 150.000đ
								.btn-wrap
									a.btn-addtocart(href="#") Thêm vào giỏ
				.col-xs-6.col-sm-4.col-md-3.col-lg-4.col-xl-3.nopadding
					.product-col
						figure
							a.product-img(href="#")
								img(src="img/product/suonnon.jpg", alt="alt")
								.promotion
									//- .new
										span Mới
									//- .hot
										span hot
									//- .sale 
										span -15%
							figcaption
								h3.product-name
									a(href="#") Sườn non
								.product-des 500gr
								.product-price.clearfix
									.new 120.000đ
									.old 150.000đ
								.btn-wrap
									a.btn-addtocart(href="#") Thêm vào giỏ
				.col-xs-6.col-sm-4.col-md-3.col-lg-4.col-xl-3.nopadding
					.product-col
						figure
							a.product-img(href="#")
								img(src="img/product/thitthan.jpg", alt="alt")
								//- .promotion
									.new
										span Mới
									.hot
										span hot
									.sale 
										span -15%
							figcaption
								h3.product-name
									a(href="#") Thịt thăn heo
								.product-des 500gr
								.product-price.clearfix
									.new 120.000đ
									.old 150.000đ
								.btn-wrap
									a.btn-addtocart(href="#") Thêm vào giỏ
				.col-xs-6.col-sm-4.col-md-3.col-lg-4.col-xl-3.nopadding
					.product-col
						figure
							a.product-img(href="#")
								img(src="img/product/cotlet.jpg", alt="alt")
								//- .promotion
									.new
										span Mới
									.hot
										span hot
									.sale 
										span -15%
							figcaption
								h3.product-name
									a(href="#") Thịt cốt lết
								.product-des 500gr
								.product-price.clearfix
									.new 120.000đ
									.old 150.000đ
								.btn-wrap
									a.btn-addtocart(href="#") Thêm vào giỏ
				.col-xs-6.col-sm-4.col-md-3.col-lg-4.col-xl-3.nopadding
					.product-col
						figure
							a.product-img(href="#")
								img(src="img/product/mongheo.jpg", alt="alt")
								.promotion
									//- .new
										span Mới
									//- .hot
										span hot
									.sale 
										span -15%
							figcaption
								h3.product-name
									a(href="#") Móng heo
								.product-des 500gr
								.product-price.clearfix
									.new 120.000đ
									.old 150.000đ
								.btn-wrap
									a.btn-addtocart(href="#") Thêm vào giỏ
				.col-xs-6.col-sm-4.col-md-3.col-lg-4.col-xl-3.nopadding
					.product-col
						figure
							a.product-img(href="#")
								img(src="img/product/suonnon.jpg", alt="alt")
								.promotion
									//- .new
										span Mới
									//- .hot
										span hot
									//- .sale 
										span -15%
							figcaption
								h3.product-name
									a(href="#") Sườn non
								.product-des 500gr
								.product-price.clearfix
									.new 120.000đ
									.old 150.000đ
								.btn-wrap
									a.btn-addtocart(href="#") Thêm vào giỏ
				.col-xs-6.col-sm-4.col-md-3.col-lg-4.col-xl-3.nopadding
					.product-col
						figure
							a.product-img(href="#")
								img(src="img/product/thitthan.jpg", alt="alt")
								//- .promotion
									.new
										span Mới
									.hot
										span hot
									.sale 
										span -15%
							figcaption
								h3.product-name
									a(href="#") Thịt thăn heo
								.product-des 500gr
								.product-price.clearfix
									.new 120.000đ
									.old 150.000đ
								.btn-wrap
									a.btn-addtocart(href="#") Thêm vào giỏ
				.col-xs-6.col-sm-4.col-md-3.col-lg-4.col-xl-3.nopadding
					.product-col
						figure
							a.product-img(href="#")
								img(src="img/product/cotlet.jpg", alt="alt")
								//- .promotion
									.new
										span Mới
									.hot
										span hot
									.sale 
										span -15%
							figcaption
								h3.product-name
									a(href="#") Thịt cốt lết
								.product-des 500gr
								.product-price.clearfix
									.new 120.000đ
									.old 150.000đ
								.btn-wrap
									a.btn-addtocart(href="#") Thêm vào giỏ
				.col-xs-6.col-sm-4.col-md-3.col-lg-4.col-xl-3.nopadding
					.product-col
						figure
							a.product-img(href="#")
								img(src="img/product/mongheo.jpg", alt="alt")
								.promotion
									//- .new
										span Mới
									//- .hot
										span hot
									.sale 
										span -15%
							figcaption
								h3.product-name
									a(href="#") Móng heo
								.product-des 500gr
								.product-price.clearfix
									.new 120.000đ
									.old 150.000đ
								.btn-wrap
									a.btn-addtocart(href="#") Thêm vào giỏ
				.col-xs-6.col-sm-4.col-md-3.col-lg-4.col-xl-3.nopadding
					.product-col
						figure
							a.product-img(href="#")
								img(src="img/product/suonnon.jpg", alt="alt")
								.promotion
									//- .new
										span Mới
									//- .hot
										span hot
									//- .sale 
										span -15%
							figcaption
								h3.product-name
									a(href="#") Sườn non
								.product-des 500gr
								.product-price.clearfix
									.new 120.000đ
									.old 150.000đ
								.btn-wrap
									a.btn-addtocart(href="#") Thêm vào giỏ
				.col-xs-6.col-sm-4.col-md-3.col-lg-4.col-xl-3.nopadding
					.product-col
						figure
							a.product-img(href="#")
								img(src="img/product/thitthan.jpg", alt="alt")
								//- .promotion
									.new
										span Mới
									.hot
										span hot
									.sale 
										span -15%
							figcaption
								h3.product-name
									a(href="#") Thịt thăn heo
								.product-des 500gr
								.product-price.clearfix
									.new 120.000đ
									.old 150.000đ
								.btn-wrap
									a.btn-addtocart(href="#") Thêm vào giỏ
				.col-xs-6.col-sm-4.col-md-3.col-lg-4.col-xl-3.nopadding
					.product-col
						figure
							a.product-img(href="#")
								img(src="img/product/cotlet.jpg", alt="alt")
								//- .promotion
									.new
										span Mới
									.hot
										span hot
									.sale 
										span -15%
							figcaption
								h3.product-name
									a(href="#") Thịt cốt lết
								.product-des 500gr
								.product-price.clearfix
									.new 120.000đ
									.old 150.000đ
								.btn-wrap
									a.btn-addtocart(href="#") Thêm vào giỏ
				.col-xs-6.col-sm-4.col-md-3.col-lg-4.col-xl-3.nopadding
					.product-col
						figure
							a.product-img(href="#")
								img(src="img/product/mongheo.jpg", alt="alt")
								.promotion
									//- .new
										span Mới
									//- .hot
										span hot
									.sale 
										span -15%
							figcaption
								h3.product-name
									a(href="#") Móng heo
								.product-des 500gr
								.product-price.clearfix
									.new 120.000đ
									.old 150.000đ
								.btn-wrap
									a.btn-addtocart(href="#") Thêm vào giỏ
				.col-xs-6.col-sm-4.col-md-3.col-lg-4.col-xl-3.nopadding
					.product-col
						figure
							a.product-img(href="#")
								img(src="img/product/suonnon.jpg", alt="alt")
								.promotion
									//- .new
										span Mới
									//- .hot
										span hot
									//- .sale 
										span -15%
							figcaption
								h3.product-name
									a(href="#") Sườn non
								.product-des 500gr
								.product-price.clearfix
									.new 120.000đ
									.old 150.000đ
								.btn-wrap
									a.btn-addtocart(href="#") Thêm vào giỏ
			.pages
				ul.pagination
					li.active
						a(href="#") 1
					li 
						a(href="#") 2
					li 
						a(href="#") 3
					li 
						a(href="#") 4