.container
	section.product-page.clearfix
		.row.flex.flex-wrap
			.col-xs-12.col-lg-9
				.row.flex.flex-wrap
					.col-xs-12.col-md-6
						.slidewrap.flex.flex-wrap
							.product-nav
								.item
									.img
										img(src="img/product/cotlet.jpg", alt="")
								.item
									.img
										img(src="img/product/mongheo.jpg", alt="")
								.item
									.img
										img(src="img/product/suonnon.jpg", alt="")
								.item
									.img
										img(src="img/product/thitthan.jpg", alt="")
							.product-slide
								.item
									a.fancybox(data-fancybox="gallery", href="img/product/cotlet.jpg")
										img(src="img/product/cotlet.jpg", alt="")
								.item
									a.fancybox(data-fancybox="gallery", href="img/product/mongheo.jpg")
										img(src="img/product/mongheo.jpg", alt="")
								.item
									a.fancybox(data-fancybox="gallery", href="img/product/suonnon.jpg")
										img(src="img/product/suonnon.jpg", alt="")
								.item
									a.fancybox(data-fancybox="gallery", href="img/product/thitthan.jpg")
										img(src="img/product/thitthan.jpg", alt="")
						.share
							img(src="img/share.jpg", alt="")
					.col-xs-12.col-md-6
						.product-fly-button.clearfix
							.container
								.product-info
									//- .product-brand Thương hiệu: 
										a(href="#") Co.opmart
									//- .product-id Xuất xứ: 
										strong Pháp
									.product-page-name Thịt heo ba rọi
								.colright.clearfix
									.product-price.clearfix
										.old 
											span 150.000đ
											strong (-10%)
										.new 119.000đ
									a.btn-buy(href="#!") 
										span Cho vào giỏ hàng
						section.product-info.clearfix
							//- .product-brand Thương hiệu: 
								a(href="#") Co.opmart
							//- .product-id Xuất xứ: 
								strong Pháp
							h1.product-page-name Thịt heo ba rọi
							section.product-overview.clearfix
								.content
									ul 
										li Lorem ipsum dolor sit amet, consectetur adipisicing.
										li Lorem ipsum dolor sit amet.
										li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, deleniti.
							.product-price.clearfix
								.new 119.000đ
								.old 
									span 150.000đ
									strong (-10%)
								.des Khối lượng: 1kg | Đơn giá 119.000đ/kg
							//- .product-member.clearfix
								.price Giá cho chủ thẻ VinID
									br
									strong 113.000đ 
									span (Tiết kiệm: 6.000đ)
							.product-option.flex.flex-wrap.clearfix
								.product-size
									.label Chọn khối lượng:
									.size
										a.ajaxlink(href="#") 1kg
									.size
										a.ajaxlink.active(href="#") 2kg
							a.btn-buy(href="#!") 
								span Cho vào giỏ hàng
							//- a.btn-wishlist(href="#!") <i class="fa fa-heart-o" aria-hidden="true"></i>
							
							//- section.product-promotion.clearfix
								label Khuyến mãi
								a.promotion(href="#")
									img(src="img/sale/1.jpg", alt="")
								a.promotion(href="#")
									img(src="img/sale/2.jpg", alt="")
								a.promotion(href="#")
									img(src="img/sale/3.jpg", alt="")
				section.product-description.clearfix
					h3.title Thông tin sản phẩm
						//- a.btn-comment(href='#comment') Đánh giá sản phẩm
					#info.content
						p Nhờ việc ứng dụng công nghệ trong phát triển di truyền học, Công ty Cổ phần Chăn nuôi C.P. Việt Nam sở hữu nguồn dự trữ con giống tốt, cung cấp heo giống vừa có khả năng chống chịu bệnh tốt, vừa cho tỷ lệ nạc cao. Áp dụng công nghệ quản lý chuồng trại của CPF, heo được nuôi trong hệ thống trại kín được kiểm soát nhiệt độ bằng hệ thống máy tính, thân thiện với môi trường. Heo CP được nuôi trong môi trường vệ sinh và an toàn, không bị nhiễm bệnh và không có tồn dư thuốc.
						p 
							strong Thông số sản phẩm
						.table-responsive
							table.table
								tbody
									tr 
										th Lorem ipsum
										td 10%
									tr 
										th Lorem ipsum dolor
										td 15%
									tr 
										th Consectetur
										td 10%
									tr 
										th Ipsum dolo
										td 15%
						figure
							img(src="img/product/thitbaroi.jpg", alt="alt")
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At sed numquam eaque eos dolor, deleniti accusamus nobis praesentium ea unde quibusdam velit laborum porro, atque quos fuga voluptatem itaque assumenda perferendis, dolorum sunt. Fuga, at. Consequatur voluptatum deserunt quia est.
						p 
							strong Gợi ý một số món ngon dễ làm từ thịt heo ba rọi
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit maxime id debitis optio, rerum neque nesciunt, ipsam amet dolorem, quia doloremque fugiat cumque. Quae quo beatae iure quod quidem, pariatur qui magnam ut libero animi dolorum explicabo consequatur doloremque, ab amet nesciunt impedit tenetur similique adipisci consequuntur suscipit recusandae perspiciatis. Veritatis sapiente iusto ullam et numquam laborum, rem beatae, ad quam repellendus consequatur explicabo ipsum soluta optio. Consequatur ipsam sit voluptate dolores exercitationem dolorem nisi odio cumque inventore fuga, ea nihil labore ab commodi laborum est nobis sed id fugit, ratione accusantium corporis ducimus a saepe! Nemo delectus nihil incidunt.
						figure
							img(src="img/product/thitnong.jpg", alt="alt")
				section#comment.commentfrm.clearfix
					.title Đánh giá & Bình luận
					.commentwrap.clearfix
						.form-group.col
							input(type="text", placeholder="Họ và tên")
						.form-group.col
							input(type="text", placeholder="Email")
						.form-group
							textarea(name="", cols="30", rows="4", placeholder="Nội dung...")
						.captcha
							img(src="img/captcha.png", alt="")
						.btn-wrap
							input(type="submit", value="Gửi bình luận")
			.col-xs-12.col-lg-3
				section.product-policy.clearfix
					ul 
						li <i class="fa fa-map" aria-hidden="true"></i>Chỉ giao hàng cùng thành phố với Nhà cung cấp
						li <i class="fa fa-truck" aria-hidden="true"></i>Giao hàng bởi CP product
						li <i class="fa fa-building-o" aria-hidden="true"></i>Sản phẩm được cung cấp bởi 
							a(href="#") CP product - Hồ Chí Minh
				section.promotion-ads.clearfix
					a.ads(href="#")
						img(src="img/ads/2.jpg", alt="")
					a.ads(href="#")
						img(src="img/ads/3.jpg", alt="")
					a.ads(href="#")
						img(src="img/ads/4.jpg", alt="")
			.col-xs-12
				section.product-lastview.clearfix
					h3.title Sản phẩm đã xem
					.product-list.flex.flex-wrap.clearfix
						.col-xs-6.col-sm-4.col-md-3.col-lg-4.col-xl-3.nopadding
							.product-col
								figure
									a.product-img(href="#")
										img(src="img/product/thitthan.jpg", alt="alt")
										//- .promotion
											.new
												span Mới
											.hot
												span hot
											.sale 
												span -15%
									figcaption
										h3.product-name
											a(href="#") Thịt thăn heo
										.product-des 500gr
										.product-price.clearfix
											.new 120.000đ
											.old 150.000đ
										.btn-wrap
											a.btn-addtocart(href="#") Thêm vào giỏ
						.col-xs-6.col-sm-4.col-md-3.col-lg-4.col-xl-3.nopadding
							.product-col
								figure
									a.product-img(href="#")
										img(src="img/product/cotlet.jpg", alt="alt")
										//- .promotion
											.new
												span Mới
											.hot
												span hot
											.sale 
												span -15%
									figcaption
										h3.product-name
											a(href="#") Thịt cốt lết
										.product-des 500gr
										.product-price.clearfix
											.new 120.000đ
											.old 150.000đ
										.btn-wrap
											a.btn-addtocart(href="#") Thêm vào giỏ
						.col-xs-6.col-sm-4.col-md-3.col-lg-4.col-xl-3.nopadding
							.product-col
								figure
									a.product-img(href="#")
										img(src="img/product/mongheo.jpg", alt="alt")
										.promotion
											//- .new
												span Mới
											//- .hot
												span hot
											.sale 
												span -15%
									figcaption
										h3.product-name
											a(href="#") Móng heo
										.product-des 500gr
										.product-price.clearfix
											.new 120.000đ
											.old 150.000đ
										.btn-wrap
											a.btn-addtocart(href="#") Thêm vào giỏ
						.col-xs-6.col-sm-4.col-md-3.col-lg-4.col-xl-3.nopadding
							.product-col
								figure
									a.product-img(href="#")
										img(src="img/product/suonnon.jpg", alt="alt")
										.promotion
											//- .new
												span Mới
											//- .hot
												span hot
											//- .sale 
												span -15%
									figcaption
										h3.product-name
											a(href="#") Sườn non
										.product-des 500gr
										.product-price.clearfix
											.new 120.000đ
											.old 150.000đ
										.btn-wrap
											a.btn-addtocart(href="#") Thêm vào giỏ
						.col-xs-6.col-sm-4.col-md-3.col-lg-4.col-xl-3.nopadding
							.product-col
								figure
									a.product-img(href="#")
										img(src="img/product/thitthan.jpg", alt="alt")
										//- .promotion
											.new
												span Mới
											.hot
												span hot
											.sale 
												span -15%
									figcaption
										h3.product-name
											a(href="#") Thịt thăn heo
										.product-des 500gr
										.product-price.clearfix
											.new 120.000đ
											.old 150.000đ
										.btn-wrap
											a.btn-addtocart(href="#") Thêm vào giỏ