.container
	.flex.flex-wrap.clearfix
		section.filter-wrap.filter-category.sidebar.clearfix
			.filter-group.clearfix
				.filter-title Tin tức
				nav.sidebar-category.clearfix
					ul.sidebar-link
						li 
							a(href="#") Tin thị trường
						li 
							a(href="#") Tin khuyến mãi
						li 
							a(href="#") Tin đối khác
						li 
							a(href="#") Tin tuyển dụng
			//- .filter-group.clearfix
				.filter-title Hỗ trợ khách hàng
				nav.sidebar-category.clearfix
					ul.sidebar-link
						li 
							a(href="#") Phương thức đặt hàng
						li 
							a(href="#") Hướng dẫn đặt hàng
						li 
							a(href="#") Phương thức giao hàng
						li 
							a(href="#") Phương thức thanh toán
						li 
							a(href="#") Chính sách đổi trả hàng
						li 
							a(href="#") Hướng dẫn đổi trả hàng
						li 
							a(href="#") Trung tâm khách hàng
						li 
							a(href="#") Hỏi đáp
			.btn-closefilter.btn-close <span class="lnr lnr-cross"></span> Đóng bộ lọc
		section.page-content.clearfix
			.btn-togglewrap
				.btn-showcate Danh mục tin tức
			h1.pagetitle Tuyển dụng
			//- nav.nav.navbar-nav.menu-job
				a.active(href='http://sabeco.canhcam.gb/truyen-thong/tuyen-dung/chuong-trinh-tuyen-dung', target='_self') Chương trình tuyển dụng
				a(href='http://sabeco.canhcam.gb/truyen-thong/tuyen-dung/co-hoi-nghe-nghiep', target='_self') Cơ hội nghề nghiệp
				a(href='http://sabeco.canhcam.gb/truyen-thong/tuyen-dung/huong-dan-nop-ho-so', target='_self') Hướng dẫn nộp hồ sơ
			.job-wrap
				.table-responsive
					table.table.table-striped
						thead
							tr
								th Vị trí làm việc
								th.text-xs-center.hidden-sm-down Nơi làm việc
								th.text-xs-center.hidden-sm-down Ngày đăng
								th.hidden-sm-down
						tbody
							tr
								td
									h2
										a(href='http://sabeco.canhcam.gb/truyen-thong/tuyen-dung/truong-phong-kinh-doanh', target='_self', title='Trưởng phòng kinh doanh')
											i.fa.fa-angle-right(aria-hidden='true')
											| Trưởng phòng kinh doanh
										//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
											i.fa.fa-pencil
								td.text-xs-center.hidden-sm-down Tp.HCM
								td.text-xs-center.hidden-sm-down 21/03/2017
								td.hidden-sm-down
									span.new Mới
							tr
								td
									h2
										a(href='http://sabeco.canhcam.gb/truyen-thong/tuyen-dung/truong-phong-kinh-doanh', target='_self', title='Trưởng phòng kinh doanh')
											i.fa.fa-angle-right(aria-hidden='true')
											| Trưởng phòng kinh doanh
										//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
											i.fa.fa-pencil
								td.text-xs-center.hidden-sm-down Tp.HCM
								td.text-xs-center.hidden-sm-down 21/03/2017
								td.hidden-sm-down
									span.new Mới
							tr
								td
									h2
										a(href='http://sabeco.canhcam.gb/truyen-thong/tuyen-dung/truong-phong-kinh-doanh', target='_self', title='Trưởng phòng kinh doanh')
											i.fa.fa-angle-right(aria-hidden='true')
											| Trưởng phòng kinh doanh
										//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
											i.fa.fa-pencil
								td.text-xs-center.hidden-sm-down Tp.HCM
								td.text-xs-center.hidden-sm-down 21/03/2017
								td.hidden-sm-down
									span.new Mới
							tr
								td
									h2
										a(href='http://sabeco.canhcam.gb/truyen-thong/tuyen-dung/truong-phong-kinh-doanh', target='_self', title='Trưởng phòng kinh doanh')
											i.fa.fa-angle-right(aria-hidden='true')
											| Trưởng phòng kinh doanh
										//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
											i.fa.fa-pencil
								td.text-xs-center.hidden-sm-down Tp.HCM
								td.text-xs-center.hidden-sm-down 21/03/2017
								td.hidden-sm-down
									span.new Mới
							tr
								td
									h2
										a(href='http://sabeco.canhcam.gb/truyen-thong/tuyen-dung/truong-phong-kinh-doanh', target='_self', title='Trưởng phòng kinh doanh')
											i.fa.fa-angle-right(aria-hidden='true')
											| Trưởng phòng kinh doanh
										//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
											i.fa.fa-pencil
								td.text-xs-center.hidden-sm-down Tp.HCM
								td.text-xs-center.hidden-sm-down 21/03/2017
								td.hidden-sm-down
									span.new Mới
							tr
								td
									h2
										a(href='http://sabeco.canhcam.gb/truyen-thong/tuyen-dung/truong-phong-kinh-doanh', target='_self', title='Trưởng phòng kinh doanh')
											i.fa.fa-angle-right(aria-hidden='true')
											| Trưởng phòng kinh doanh
										//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
											i.fa.fa-pencil
								td.text-xs-center.hidden-sm-down Tp.HCM
								td.text-xs-center.hidden-sm-down 21/03/2017
								td.hidden-sm-down
									span.new Mới
							tr
								td
									h2
										a(href='http://sabeco.canhcam.gb/truyen-thong/tuyen-dung/truong-phong-kinh-doanh', target='_self', title='Trưởng phòng kinh doanh')
											i.fa.fa-angle-right(aria-hidden='true')
											| Trưởng phòng kinh doanh
										//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
											i.fa.fa-pencil
								td.text-xs-center.hidden-sm-down Tp.HCM
								td.text-xs-center.hidden-sm-down 21/03/2017
								td.hidden-sm-down
									span.new Mới
							tr
								td
									h2
										a(href='http://sabeco.canhcam.gb/truyen-thong/tuyen-dung/truong-phong-kinh-doanh', target='_self', title='Trưởng phòng kinh doanh')
											i.fa.fa-angle-right(aria-hidden='true')
											| Trưởng phòng kinh doanh
										//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
											i.fa.fa-pencil
								td.text-xs-center.hidden-sm-down Tp.HCM
								td.text-xs-center.hidden-sm-down 21/03/2017
								td.hidden-sm-down
									span.new Mới
							tr
								td
									h2
										a(href='http://sabeco.canhcam.gb/truyen-thong/tuyen-dung/truong-phong-kinh-doanh', target='_self', title='Trưởng phòng kinh doanh')
											i.fa.fa-angle-right(aria-hidden='true')
											| Trưởng phòng kinh doanh
										//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
											i.fa.fa-pencil
								td.text-xs-center.hidden-sm-down Tp.HCM
								td.text-xs-center.hidden-sm-down 21/03/2017
								td.hidden-sm-down
									span.new Mới
							tr
								td
									h2
										a(href='http://sabeco.canhcam.gb/truyen-thong/tuyen-dung/truong-phong-kinh-doanh', target='_self', title='Trưởng phòng kinh doanh')
											i.fa.fa-angle-right(aria-hidden='true')
											| Trưởng phòng kinh doanh
										//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
											i.fa.fa-pencil
								td.text-xs-center.hidden-sm-down Tp.HCM
								td.text-xs-center.hidden-sm-down 21/03/2017
								td.hidden-sm-down
									span.new Mới