.container
	.flex.flex-wrap.clearfix
		section.filter-wrap.filter-category.sidebar.clearfix
			.filter-group.clearfix
				.filter-title Tin tức
				nav.sidebar-category.clearfix
					ul.sidebar-link
						li 
							a(href="#") Tin thị trường
						li 
							a(href="#") Tin khuyến mãi
						li 
							a(href="#") Tin đối khác
			//- .filter-group.clearfix
				.filter-title Hỗ trợ khách hàng
				nav.sidebar-category.clearfix
					ul.sidebar-link
						li 
							a(href="#") Phương thức đặt hàng
						li 
							a(href="#") Hướng dẫn đặt hàng
						li 
							a(href="#") Phương thức giao hàng
						li 
							a(href="#") Phương thức thanh toán
						li 
							a(href="#") Chính sách đổi trả hàng
						li 
							a(href="#") Hướng dẫn đổi trả hàng
						li 
							a(href="#") Trung tâm khách hàng
						li 
							a(href="#") Hỏi đáp
			.btn-closefilter.btn-close <span class="lnr lnr-cross"></span> Đóng bộ lọc
		section.page-content.clearfix
			.btn-togglewrap
				.btn-showcate Danh mục tin tức
			h1.pagetitle Tin tức
			.news-list.clearfix
				.row.flex.flex-wrap
					article.news-col
						figure
							.col-xs-12.col-md-6
								a.news-img(href="#")
									img(src="img/news/1.jpg", alt="")
							.col-xs-12.col-md-6
								figcaption
									time 19/05/2017
									h3.news-name
										a(href="#") Celebrities Who Should Consider a Writing Career
									.news-des Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. We had reached a great height in the atmosphere.
									a.link(href="#") Xem chi tiết
					article.news-col
						figure
							.col-xs-12.col-md-6
								a.news-img(href="#")
									img(src="img/news/1.jpg", alt="")
							.col-xs-12.col-md-6
								figcaption
									time 19/05/2017
									h3.news-name
										a(href="#") Celebrities Who Should Consider a Writing Career
									.news-des Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. We had reached a great height in the atmosphere.
									a.link(href="#") Xem chi tiết
					article.news-col
						figure
							.col-xs-12.col-md-6
								a.news-img(href="#")
									img(src="img/news/1.jpg", alt="")
							.col-xs-12.col-md-6
								figcaption
									time 19/05/2017
									h3.news-name
										a(href="#") Celebrities Who Should Consider a Writing Career
									.news-des Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. We had reached a great height in the atmosphere.
									a.link(href="#") Xem chi tiết
					article.news-col
						figure
							.col-xs-12.col-md-6
								a.news-img(href="#")
									img(src="img/news/1.jpg", alt="")
							.col-xs-12.col-md-6
								figcaption
									time 19/05/2017
									h3.news-name
										a(href="#") Celebrities Who Should Consider a Writing Career
									.news-des Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. We had reached a great height in the atmosphere.
									a.link(href="#") Xem chi tiết
					article.news-col
						figure
							.col-xs-12.col-md-6
								a.news-img(href="#")
									img(src="img/news/1.jpg", alt="")
							.col-xs-12.col-md-6
								figcaption
									time 19/05/2017
									h3.news-name
										a(href="#") Celebrities Who Should Consider a Writing Career
									.news-des Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. We had reached a great height in the atmosphere.
									a.link(href="#") Xem chi tiết
			.pages
				ul.pagination
					li 
						a(href="#") 1
					li.active
						a(href="#") 2
					li 
						a(href="#") 3
					li 
						a(href="#") 4