section.product-sidebar.clearfix
	.filter-wrap.category-group.clearfix
		.btn-closefilter <span class="lnr lnr-cross"></span>
		.filter-group.clearfix
			.filter-title 
				span Danh mục sản phẩm
				//- .btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				nav.filter-category.clearfix
					ul
						li.hassub.active
							a(href="#") Thiết bị đeo tay
							.btn-showsubfilter <i class="fa fa-angle-down" aria-hidden="true"></i>
							.sub
								ul 
									li.active
										a(href="#") Smartwatch
									li 
										a(href="#") Vòng đeo tay
						li
							a(href="#") Thực phẩm chế biến
						li.hassub
							a(href="#") Xúc xích
							.btn-showsubfilter <i class="fa fa-angle-down" aria-hidden="true"></i>
							.sub
								ul 
									li 
										a(href="#") Xúc xích CP
									li 
										a(href="#") Xúc xích Bucher
						li
							a(href="#") Thủy sản chế biến
		.btn-closefilter.btn-close <span class="lnr lnr-cross"></span> Đóng bộ lọc
	.filter-wrap.option-group.clearfix
		.btn-closefilter <span class="lnr lnr-cross"></span>
		.filter-group.clearfix
			.filter-title 
				span Nổi bật
				.btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				nav.brand-category
					ul
						li
							a.active(href="#") Khuyến mại
						li
							a(href="#") Sản phẩm mới về
						li
							a(href="#") Sản phẩm nhập khẩu
		.filter-group.clearfix
			.filter-title 
				span Kích cỡ
				.btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				ul.product-size
					li 
						a(href="#") S
					li
						a.active(href="#") L
					li 
						a(href="#") 42
					li
						a.active(href="#") 47
					li
						a.active(href="#") 51
					li 
						a(href="#") 38
					li 
						a(href="#") 45
					li 
						a(href="#") 40
					li 
						a(href="#") 49
					li 
						a(href="#") Freesize
		.filter-group.clearfix
			.filter-title
				span Màu sắc
			.filter-option.clearfix
				ul.color-picker
					li.color
						a.active.ajaxlink(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=2', title='', data-original-title='Tím')
							.color-img(style='background-color:#990099')
					li.color
						a.active.ajaxlink(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=3', title='', data-original-title='Xanh dương')
							.color-img(style='background-color:#0000CC')
					li.color
						a.active.ajaxlink(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=4', title='', data-original-title='Xám')
							.color-img(style='background-color:#8B8994')
					li.color
						a.active.ajaxlink(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=5', title='', data-original-title='Đỏ')
							.color-img(style='background-color:#CC0033')
					li.color
						a.ajaxlink(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=7', title='', data-original-title='Gold')
							.color-img(style='background-color:#D3CEBB')
					li.color
						a.ajaxlink(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=8', title='', data-original-title='Xanh bạc hà')
							.color-img(style='background-color:#A3E3D3')
					li.color
						a.ajaxlink(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=9', title='', data-original-title='Trắng')
							.color-img(style='background-color:#FFFFFF')
					li.color
						a.ajaxlink(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=10', title='', data-original-title='Xám đậm')
							.color-img(style='background-color:#5A5653')
					li.color
						a.ajaxlink(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=11', title='', data-original-title='Bạc')
							.color-img(style='background-color:#D2D0D1')
					li.color
						a.ajaxlink(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=13', title='', data-original-title='Đen')
							.color-img(style='background-color:#000000')
					li.color
						a.ajaxlink(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=14', title='', data-original-title='Xanh rêu')
							.color-img(style='background-color:#6F8882')
					li.color
						a.ajaxlink(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=16', title='', data-original-title='Đen + Vàng')
							.color-img
					li.color
						a.ajaxlink(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=19', title='', data-original-title='Xanh lá (Xanh nõn chuối)')
							.color-img(style='background-color:#B5CA27')
					li.color
						a.ajaxlink(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=20', title='', data-original-title='Xanh da trời')
							.color-img(style='background-color:#32A3A7')

		.filter-group.clearfix
			.filter-title 
				span Khoảng giá
				.btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				.filter-range
					#slider-range.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all(aria-disabled='false')
						.ui-slider-range.ui-widget-header.ui-corner-all(style='left: 0%; width: 100%;')
						a.ui-slider-handle.ui-state-default.ui-corner-all(href='#', style='left: 0%;')
						a.ui-slider-handle.ui-state-default.ui-corner-all(href='#', style='left: 100%;')
					.price-range
						| Giá từ
						.sliderValue.min-input(data-index='0') 0
						| đến
						.sliderValue.max-input(data-index='1') 10.000.000
					.hidden
						a.urlwithoutprice(href='#')
						a.urlwithprice(href='#')
						a.pricemin
						a.pricemax
		.btn-closefilter.btn-close <span class="lnr lnr-cross"></span> Đóng bộ lọc
